#everything {
  text-align: center;
  background-color: #9c7d7d;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(224, 26, 26);

}

main{
  text-align: center;
  margin-left: 40vw;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
img{
  // width:100vw;
  // height: auto;
  height: 100vh;
  width:auto;
  
}


.nav {  
  padding:15px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
  a{
    color:rgb(211, 183, 58);
    text-decoration: none;
  }
}

//Resume Page
.resume{
  text-align: left;
  // margin:auto, 30vh;
  background-color: aqua;
  margin-left:10vw;

}

#gallery{
  margin-left:40vw;
  text-align: left;
  
}